$colorRojo: #8B0000;
$colorDorado: #B8860B;

* {
    box-sizing: border-box;
}

body {
    font: {
        family: 'Libre Baskerville';
        size: 1em;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    padding: {
        left: 10%;
        right: 10%;
    }
}

nav {
    height: 70px;
    width: 100%;
    background-color: $colorRojo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;

    padding: {
        left: 10%;
        right: 10%;
    }

    img {
        height: 90px;
    }
}

a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: $colorRojo;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: {
        left: 10%;
        right: 10%;
    }

    img {
        height: 90%;
    }
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: {
        left: 200px;
        right: 200px;
    }

    img {
        width: 700px;
    }
}

@mixin borders($radio: 0px) {
    border: $colorDorado 7px solid;
    border-radius: $radio;
}

.valoradas {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    img {
        height: 100%;

        padding: {
            left: 30px;
            right: 30px;
        }

        ;
    }
}

.seleccionButacas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    margin: {
        bottom: 50px;
        top: 50px;
    }

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}

.recientes {}

.ajustarButacas {
    height: auto;
    min-width: 300px;
    padding: auto;
    // display: flex;
    // justify-content: center;
    @include borders();

    @media (max-width: 1000px) {
        order: 1;
    }
}

// .ajustarButacas{
//     margin: 100px;
//     perspective: 1000px;
// }

.fila    {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    .butaca {
        width: 20px;
        height: 20px;
        margin: 3px;
        background-color: #444444;
        border: none;
        border-radius: 4px;
        // cursor: pointer;
    }
    // Ejemplo de cómo usar un bucle para generar estilos
    // @for $i from 1 through 6 {
    //     &:nth-child(#{$i}) {
    //       transform: rotateX(10deg * (7 - $i));
    //     }
    //   }
}

.horarios {
    background-color: $colorRojo;
    height: 700px;
    width: 20%;
    @include borders(20px);

    @media (max-width: 1000px) {
        order: 2;
        width: 100%;
        height: 300px;
    }

}
